@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

/* header {
  background-color: aquamarine;
  /* padding: 20px; */
/* padding-left: 20px; */
/* padding-right: 20px;
  padding-top: 20px; */
/* padding-bottom: 20px; */
/* padding: 50px 20px;
  margin: 20px 0; */
/* }  */

/* header */
header {
  background-color: blue;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  position: sticky;
  top: 5px;
}

header img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

nav a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  transition: all 0.3s ease-in;
  padding: 5px 10px;
  position: relative;
}

/* nav a:hover{
  background-color: #e0e0e0;
  color: blue;
  border-radius: 5px;
} */

nav a:active {
  background-color: #6cbbe6;
  color: blue;
  border-radius: 5px;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

nav a:hover::after {
  width: 100%;
}

nav a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

nav a:hover::before{
  width: 100%;
}

/* nav a:visited {
  color: red;
} */

nav ul > li {
  list-style: none;
  display: inline-block;
  align-items: center;
}

.notifi-icon{
  position:relative;
}

.notifi-count{
  background-color: #fff;
  color: blue;
  border: 1px solid blue;
  border-radius: 30px;
  padding: 2px 5px;
  font-size: 0.5rem;
  position: absolute;
  top: -5px;
  right: -5px;
}


/* hero style */
.hero {
  height: 30vw;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-image:
    linear-gradient(275deg, rgba(118, 116, 116, 0.5), rgba(46, 45, 45, 0.5)),
    url("./image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: local;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 300px 1fr;
}
.right-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/2;
}
.right-hero img {
  width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 100px 100px 10px;
}
.left-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 2/3;
}
.hero-head {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: #fff;
  font-family: "Rubik", sans-serif;

  /* font-family: "Google Sans", sans-serif; */
  font-weight: bold;
  font-variant: small-caps;
}
.hero-head::first-letter {
  font-size: 3rem;
  color: blue;
  font-weight: bold;
}
.hero-head + p {
  font-size: 1rem;
  color: #e0e0e0;
}

.hero-head + p::first-line {
  font-size: 1.2rem;
  color: #d7fbfb;
  font-weight: bold;
}

.hero-cta {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

/* article section */
article {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #c8c8c8;
  display: grid;
  grid-template-columns: 200px 1fr;
}
article aside ul li {
  list-style: none;
  padding: 10px;
  margin: 5px 0;
  background-color: #e0e0e0;
  border-radius: 5px;
}
article aside ul li:hover {
  background-color: #d0d0d0;
}

/* product section style */
.product-section {
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}


/* product card style */
.prd-card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: #c8c8c8;
  width: fit-content;
  width: 200px;
  overflow: hidden;
  border-radius: 10px;
}

/* .prd-card:first-child{
  background-color: #1ff4d7;
}
.prd-card:last-child{
  background-color: #f4f41f;
}

.prd-card:nth-child(odd){
  background-color: #f41ff4;
} */

/* .prd-img {
  width: 200px;
  height: 200px;
} */

.prd-img img {
  width: 100%;
  height: 100%;
}

.prd-text {
  padding: 10px;
}

.prd-des h2 {
  color: blue;
  font-size: 1.2rem;
  height: 45px;
  overflow: hidden;
}
.prd-des p {
  color: black;
  font-size: 1rem;
  margin: 5px 0;
  height: 40px;
  overflow: hidden;
}

.badge {
  width: fit-content;
  height: fit-content;
  border-radius: 50px;
  background-color: aquamarine;
  width: fit-content;
  padding: 0px 5px;
}
.prd-price {
  font-size: 1rem;
  padding: 5px 0;
}
.prd-price s {
  color: red;
  font-size: 0.5rem;
}
.prd-des sup {
  color: #151515;
  font-size: 0.3rem;
}
.prd-cta {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.btn-secondary {
  background-color: blue;
  color: white;
}

.btn-primary {
  background: none;
  border: 1px solid blue;
  color: blue;
}




/* customer service style */
.customer-service{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: blue;
  border-radius: 100px;
  padding: 5px;
  border: 2px solid white;
  /* border-color: white;
  border-width: 2px;
  border-style: solid; */
}