@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

:root {
  --primary-color: red;
  --secondary-color: aquamarine;
  --accent-color: #6cbbe6;
  --neutral-color: #fff;

  --rounded-sm: 5px;
  --rounded-md: 10px;
  --rounded-full: 100px;

  --primary-font: "Black Ops One", system-ui;
  --secondary-font: "Cormorant Garamond", serif;

  --p-sm: 5px;
  --p-md: 10px;
  --p-lg: 20px;

  --m-sm: 5px;
  --m-md: 10px;
  --m-lg: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-bottom: var(--m-lg);
  font-family: var(--primary-font);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

/* header {
  background-color: aquamarine;
  /* padding: 20px; */
/* padding-left: 20px; */
/* padding-right: 20px;
  padding-top: 20px; */
/* padding-bottom: 20px; */
/* padding: 50px 20px;
  margin: 20px 0; */
/* }  */

/* header section stayle */
header {
  background-color: var(--primary-color);
  padding: var(--p-md) var(--p-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--m-md);
  border-radius: 10px;
  position: sticky;
  top: 5px;
  z-index: 999;
}

header img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

nav a {
  text-decoration: none;
  color: var(--neutral-color);
  margin-left: 20px;
  transition: all 0.3s ease-in;
  padding: 5px 10px;
  position: relative;
}

/* nav a:hover{
  background-color: #e0e0e0;
  color: var(--primary-color);
  border-radius: 5px;
} */

nav a:active {
  background-color: var(--accent-color);
  color: var(--primary-color);
  border-radius: 5px;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--neutral-color);
  transition: all 0.3s ease-in-out;
}

nav a:hover::after {
  width: 100%;
}

nav a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--neutral-color);
  transition: all 0.3s ease-in-out;
}

nav a:hover::before {
  width: 100%;
}

/* nav a:visited {
  color: red;
} */

nav ul > li {
  list-style: none;
  display: inline-block;
  align-items: center;
}

nav #menu-toggle {
  display: none;
}

.notifi-icon {
  position: relative;
}

.notifi-count {
  background-color: var(--neutral-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  padding: 2px 5px;
  font-size: 0.5rem;
  position: absolute;
  top: -5px;
  right: -5px;
  animation: play-notifi 2s ease-in-out infinite;
}

@media screen and (max-width: 768px) {
  header nav ul {
    display: none;
  }
  nav #menu-toggle {
    display: block;
  }
}

/* hero style */
.hero {
  min-height: 30vw;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-image:
    linear-gradient(275deg, rgba(118, 116, 116, 0.5), rgba(46, 45, 45, 0.5)),
    url("./image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: local;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 300px 1fr;
  gap: 20px;
}
.right-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/2;
}
.right-hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 100px 10px 10px 10px;
  animation: scale-in-out 3s infinite;
}

.left-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 2/3;
}
.hero-head {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: #fff;
  font-family: var(--seconday-font);
  /* font-weight: bold;
  font-variant: small-caps; */
}
.hero-head::first-letter {
  font-size: 5rem;
  color: rgb(182, 182, 243);
  font-weight: bold;
}
.hero-head + p {
  font-size: 1rem;
  color: #e0e0e0;
}

.hero-head + p::first-line {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: bold;
}

.hero-cta {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
  }
  .right-hero {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .left-hero {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
  }
  .right-hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 100px 100px 10px 10px;
  }
}

/* article section */
article {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #c8c8c8;
  display: grid;
  grid-template-columns: 200px 1fr;
  position: relative;
  z-index: 0;
}

article aside ul li {
  list-style: none;
  padding: 10px;
  margin: 5px 0;
  background-color: #e0e0e0;
  border-radius: 5px;
}

article aside ul li:hover {
  background-color: #d0d0d0;
}

@media screen and (max-width: 768px) {
  article {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 5px;
  }
  article aside {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  article section {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  aside {
    overflow: hidden;
  }
  aside ul {
    display: flex;
    width: 100vw;
    gap: 10px;
    overflow-x: scroll;
  }
  aside ul li {
    padding: 5px 10px;
    display: inline-block;
  }
}

/* product section style */
.product-section {
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.prd-card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: #c8c8c8;
  width: fit-content;
  width: 200px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #a5a4a4;
  box-shadow: 2px 2px 4px rgba(10, 10, 10, 0.279);
}

.prd-img img {
  width: 100%;
  height: 100%;
}

.prd-text {
  padding: 10px;
}

.prd-des h2 {
  color: var(--primary-color);
  font-size: 1.2rem;
  height: 45px;
  overflow: hidden;
}
.prd-des p {
  color: black;
  font-size: 1rem;
  margin: 5px 0;
  height: 40px;
  overflow: hidden;
}

.badge {
  width: fit-content;
  height: fit-content;
  border-radius: 50px;
  background-color: aquamarine;
  width: fit-content;
  padding: 0px 5px;
}
.prd-price {
  font-size: 1rem;
  padding: 5px 0;
}
.prd-price s {
  color: red;
  font-size: 0.5rem;
}
.prd-des sup {
  color: #151515;
  font-size: 0.3rem;
}
.prd-cta {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.btn-secondary {
  background-color: var(--primary-color);
  color: var(--neutral-color);
}

.btn-primary {
  background: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .product-section {
    justify-content: center;
    padding: 5px;
  }
  .prd-card {
    width: 100%;
    max-width: 500px;
  }
}

/* customer service style */
.customer-service {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  border-radius: 100px;
  padding: 5px;
  border: 2px solid var(--neutral-color);
  transition: all 0.3s ease-out;
}

/* chat bot style */
.chat-bot {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: var(--primary-color);
  border-radius: 100px;
  border: 2px solid var(--neutral-color);
  padding: 5px;
  transition: all 0.3s ease-out;
}

.customer-service:hover,
.chat-bot:hover {
  background-color: var(--accent-color);
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(21, 0, 255, 0.9);
}

@keyframes scale-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes play-notifi {
  0% {
    transform: translateY(-100px);
  }
  25% {
    transform: translateY(0);
  }

  50% {
    transform: scale(1.3);
    transform: rotate(270deg);
  }
  75% {
    transform: scale(1.3);
    transform: rotate(270deg);
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
    transform: scale(1);
    transform: rotate(0deg);
  }
}
