* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-bottom: 20px;
}

/* header {
  background-color: aquamarine;
  /* padding: 20px; */
/* padding-left: 20px; */
/* padding-right: 20px;
  padding-top: 20px; */
/* padding-bottom: 20px; */
/* padding: 50px 20px;
  margin: 20px 0; */
/* }  */

/* header */
header {
  background-color: aquamarine;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

nav ul > li {
  list-style: none;
  display: inline-block;
}

/* hero style */
.hero {
  color: bisque;
  height: 50vw;
  background:
    linear-gradient(rgba(181, 24, 24, 0.28), rgba(9, 50, 185, 0.291)),
    url("./1024.png") center/cover no-repeat;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.hero-head {
  /* color: blue; */
  font-size: 1rem;
  text-align: center;
  margin-bottom: 10px;
}
h1 + p {
  color: white;
  text-align: center;
}

/* product section style */
.product-section {
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* product card style */
.prd-card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: #c8c8c8;
  width: fit-content;
  width: 200px;
  overflow: hidden;
}

/* .prd-img {
  width: 200px;
  height: 200px;
} */

.prd-img img {
  width: 100%;
  height: 100%;
}

.prd-text {
  padding: 10px;
}

.prd-des h2 {
  color: blue;
  font-size: 1.2rem;
  height: 45px;
  overflow: hidden;
}
.prd-des p {
  color: black;
  font-size: 1rem;
  margin: 5px 0;
  height: 40px;
  overflow: hidden;
}

.badge {
  width: fit-content;
  height: fit-content;
  border-radius: 50px;
  background-color: aquamarine;
  width: fit-content;
  padding: 0px 5px;
}
.prd-price {
  font-size: 1rem;
  padding: 5px 0;
}
.prd-price s {
  color: red;
  font-size: 0.5rem;
}
.prd-des sup {
  color: #151515;
  font-size: 0.3rem;
}
.prd-cta {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.btn-secondary {
  background-color: blue;
  color: white;
}

.btn-primary {
  background: none;
  border: 1px solid blue;
  color: blue;
}
